<% if active_sale? %>
  <%= price = new_price(product.price) %>
<% else %>
  <%= price = product.price %>
<% end %>

<tr>
  <td>
    <%= image_tag product.image.tiny %>
  </td>
  <td>
    <h4><%= product.name %></h4>
    <br>
    <p><%= product.description %></p>
  </td>
  <td>
    <%= humanized_money_with_symbol price %>
  </td>
  <td>
    <%= quantity %>
  </td>
  <td>
    <%= humanized_money_with_symbol (price * quantity) %>
  </td>
</tr>